<% layout('/layouts/boilerplate') %>


<h1>Sve radnje</h1>

<% for(let store of stores){ %>
<p> <%= store.name %>- <%= store.location %> <a href="/stores/<%= store._id %> ">Pogledaj</a> </p>
<% } %>




<a href="/stores/new">Dodaj novu radnju</a>